body{
  margin: 0px;
  padding: 0px;
}

.main_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.main_container > h1{
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: bold; 
  color: rgb(39, 39, 153);
}

.input_form{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 60vw;
}

.food_name, .no_times{
  margin-top: 20px 0 !important;
  
}

.no_times{
  margin-bottom: 30px !important;
}

.food_cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

.foodie{
  margin: 10px;
}
